.tabs-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0;
}
  
.tabs-menu-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex:1;
}
  
  
.tabs-menu-item.is-active  {
    border-bottom: 0.01rem solid #f38c05
}

.tab-panel {
    padding: 0.1rem 0.5rem;
}
  