.haina-dialog {
    .haina-dialog-mask {
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      background-color: rgb(55, 55, 55);
      background-color: rgba(55, 55, 55, 0.6);
      height: 100%;
      filter: alpha(opacity=50);
      z-index: 1050;
  
      .haina-dialog-hidden {
        display: none;
      }
    }
    .haina-dialog-fade-enter,.haina-dialog-fade-appear {
      opacity: 0;
      animation-duration: 0.3s;
      animation-fill-mode: both;
      animation-timing-function: cubic-bezier(0.55, 0, 0.55, 0.2);
      animation-play-state: paused;
    }
  
    .haina-dialog-fade-leave {
      animation-duration: 0.3s;
      animation-fill-mode: both;
      animation-timing-function: cubic-bezier(0.55, 0, 0.55, 0.2);
      animation-play-state: paused;
    }
  
    .haina-dialog-fade-enter.haina-dialog-fade-enter-active,.haina-dialog-fade-appear.haina-dialog-fade-appear-active  {
      animation-name: rcDialogFadeIn;
      animation-play-state: running;
    }
  
    .haina-dialog-fade-leave.haina-dialog-fade-leave-active {
      animation-name: rcDialogFadeOut;
      animation-play-state: running;
    }
  
    @keyframes rcDialogFadeIn {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
  
    @keyframes rcDialogFadeOut {
      0% {
        opacity: 1;
      }
      100% {
        opacity: 0;
      }
    }
  }
  